.item-text{
    margin:30px 10px 10px 10px;
    font-size:18px;
    padding:10px;
}
.labelStyle{
    font-size:18px;
    font-weight:bold;
    color:#fff;
}
label{
    font-size:18px;
    font-weight:bold;
    color:#fff;
}
.resultados{
    padding:10px;
    margin:10px;
    font-size:18px;
}I